<link rel="stylesheet" type="text/css" href="/Craftyy/Playwright/layout/Calendar.css">

<div id="first_module"></div>

<div id="footer">
	
	<div id="nav_container">

		<div class="navtab" id="nav_preview"></div>
		<div class="navtab" id="nav_publish"></div>
		<div class="navtab" id="nav_draw"></div>

		<div class="navtab" id="nav_home"></div>

		<!-- EXPERIMENTAL -->
		<div class="navtab" id="nav_actionmaker"></div>

	</div>

</div>

<div id="calendar_container">
	<div id="fold_container2">
		<div id="fold_container">
			<div id="module"></div>
		</div>
	</div>
</div>